
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Món ăn</h1>
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Ảnh</th>
                            <th>Danh mục</th>
                            <th>Mô tả</th>
                            <th>Hoạt động</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Ảnh</th>
                            <th>Danh mục</th>
                            <th>Mô tả</th>
                            <th>Hoạt động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Súp cua</td>
                            <td>12000</td>
                            <td>Ảnh</td>
                            <td>Súp</td>
                            <td>Thơm ngon</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Súp cua</td>
                            <td>12000</td>
                            <td>Ảnh</td>
                            <td>Súp</td>
                            <td>Thơm ngon</td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

