<div id="layoutSidenav_nav">
    @*   @{ var userInfomatiom = (QuanLyChamCong.Models.User)Session["USER"]; }*@
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/AdminHome">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Bảng điều khiển
                </a>
                <div class="sb-sidenav-menu-heading">Quản lý</div>
                <a class="nav-link" href="/AdminTypeFood/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Loại món ăn
                </a>
                <a class="nav-link" href="/AdminFood/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Món ăn
                </a>
                <a class="nav-link" href="/AdminMenu/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Menu hàng ngày
                </a>
                <a class="nav-link" href="/AdminBranch/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Chi nhánh
                </a>
                <a class="nav-link" href="/AdminNews/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tin tức
                </a>

                <a class="nav-link" href="/AdminCustomer/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Khách hàng
                </a>
                <a class="nav-link" href="/AdminOrder/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Đơn hàng
                </a>
                <a class="nav-link" href="/AdminBooking/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Đặt bàn
                </a>

            </div>
        </div>
    </nav>
</div>