
@{
    ViewBag.Title = "NewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl position-relative p-0">
    @Html.Action("Header", "Modules")

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Chi tiết</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Chi tiết</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12">
                <h1 class="mb-4">Giới thiệu những món ăn mới độc đáo</h1>
                <div class="col-12 text-start text-center">
                    <img class="img-fluid rounded w-100 wow zoomIn" style="width : 600px !important" data-wow-delay="0.1s" src="https://www.nhahangquangon.com/wp-content/uploads/2018/01/goi-bo-qua-ngon-tn.jpg">
                </div>
                <br>
                <p class="mb-4">
                    Gỏi bò Qúa Ngon – Ức vị sốt rượu vang – Bồ câu tiềm bí đỏ là những món ăn mới được bổ sung vào menu của nhà hàng Qúa Ngon và đang được rất nhiều thực khách đón nhận.

                    Gỏi bò Qúa Ngon – Món khai vị độc đáo

                    Trong bữa tiệc, món khai vị phải được lựa chọn kỹ lưỡng để “đánh thức” vị giác, tạo cảm giác thèm ăn và sự ngon miệng cho thực khách trước khi vào món chính. Tại châu Âu, các món khai vị được chọn lựa một cách bài bản từ màu sắc đến hương vị, thông thường là những món bánh có hình thù ngộ nghĩnh. Còn ở Việt Nam, chúng ta thường dùng các món súp, món chiên…để làm món khai vị. Nhưng trong số đó, món phổ biến nhất là món gỏi, đây cũng là nhóm món ăn được đầu tư công phu và kỹ lưỡng nhất với nhiều món khác nhau.

                    Trong số các món gỏi tại Nhà hàng Qúa Ngon thì Gỏi bò Qúa Ngon là món khai vị mới được các đầu bếp của nhà hàng kì công chế biến và đang được rất nhiều thực khách đón nhận.

                    Cách trình bày đẹp mắt đã đủ để tạo ấn tượng ban đầu ngay khi món được dọn lên bàn. Phần thịt bò tái hồng đầy ắp hòa cùng các món ăn kèm như tắc, cà pháo, hành tím, cà rốt và các loại rau thơm, không chỉ kích thích thị giác mà “đánh thức” luôn cả sự tò mò của vị giác.
                </p>
            </div>
        </div>
    </div>
</div>












