
@{
    ViewBag.Title = "Header";
}
@{ var userInfomatiom = (webnhahangasp.Models.User)Session["USER"]; }
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
        <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Nhà Hàng WW</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
            <a href="/" class="nav-item nav-link">Trang chủ</a>
            <a href="/Home/News/0" class="nav-item nav-link">Tin tức</a>
            <a href="/Home/Menus" class="nav-item nav-link">Menu</a>
            @if (userInfomatiom != null)
            {
                <a href="/Home/Bookings" class="nav-item nav-link">Đặt bàn</a>
            }
            
            <a href="/Home/Foods/0" class="nav-item nav-link">Món ăn</a>
            <a href="/Order/Index" class="nav-item nav-link">Giỏ hàng</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tài khoản</a>
                <div class="dropdown-menu m-0">
                    @if (userInfomatiom != null)
                    {
                        <a href="/User/Profiles" class="dropdown-item">@userInfomatiom.Name</a>
                        <a href="/Booking/HistoryBook/@userInfomatiom.UserId/1" class="dropdown-item">Lịch sử đặt bàn</a>
                        <a href="/Home/HistoryOrder" class="dropdown-item">Lịch sử đơn hàng</a>
                        <a href="/Authentication/Logout" class="dropdown-item">Đăng xuất</a>
                    }
                    else
                    {
                        <a href="/Authentication/Index" class="dropdown-item">Đăng ký / Đăng nhập</a>
                    }

                </div>
            </div>
        </div>
    </div>
</nav>
